.wh-we-pro{
    width: 100%;
    min-height: 100vh;
    background: var(--darkBlue);
    color: var(--white);
    padding: var(--bothGaps);
    padding-top: 8rem;
    padding-bottom: 8rem;
    text-align: center;
}

.service-card-container{
    position: relative;
    width: 100%;
    height: 750px;
    padding-top: 10rem;
}

.service-card{
    position: absolute;
    display: grid;
    width: 300px;
    height: 200px;
    background: var(--lightTeal);
    color: var(--darkBlue);
    border-radius: 1.5rem;
    padding: 2.5rem 1.4rem;
    text-align: center;
    cursor: pointer;
}

.s-title{
    position: relative;
    font-size: 2rem;
}

.s-title::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 0.2rem;
    background: var(--darkBlue);
    right: 0;
    bottom: 0.5rem;
}

.service-card .skills{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    justify-content: center;
    font-size: 1.3rem;
    gap: 0.3rem 1rem;
}

#service1{
    background: var(--lightTeal);
    box-shadow: 0 5px 15px 0px var(--lightTeal);
}

#service1:hover{
    animation: float1 2s infinite;
}

@keyframes float1 {
	0% {
		box-shadow: 0 5px 15px 0px rgba(17, 157, 164, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 20px 25px 15px 0px rgba(17, 157, 164, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(17, 157, 164, 0.6);
		transform: translatey(0px);
	}
}

#service2{
    background: var(--red);
    box-shadow: 0 5px 15px 0px var(--red);
    right: 0;
}

#service2:hover{
    animation: float2 2s infinite;
}

@keyframes float2 {
	0% {
		box-shadow: 0 5px 15px 0px rgba(201, 66, 19, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 20px 25px 15px 0px rgba(201, 66, 19, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(201, 66, 19, 0.6);
		transform: translatey(0px);
	}
}


#service3{
    background: var(--green);
    box-shadow: 0 5px 15px 0px var(--green);
    left: calc(50% - 150px);
    top: 300px;
}

#service3:hover{
    animation: float3 2s infinite;
}

@keyframes float3 {
	0% {
		box-shadow: 0 5px 15px 0px rgba(4, 231, 98, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 20px 25px 15px 0px rgba(4, 231, 98, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(4, 231, 98, 0.6);
		transform: translatey(0px);
	}
}

#service4{
    background: var(--orange);
    box-shadow: 0 5px 15px 0px var(--orange);
    top: 500px;
}

#service4:hover{
    animation: float4 2s infinite;
}


@keyframes float4 {
	0% {
		box-shadow: 0 5px 15px 0px rgba(245, 183, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 20px 25px 15px 0px rgba(245, 183, 0, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(245, 183, 0, 0.6);
		transform: translatey(0px);
	}
}


#service5{
    background: var(--white);
    box-shadow: 0 5px 15px 0px var(--white);
    right: 0;
    top: 500px;
}

#service5:hover{
    animation: float5 2s infinite;
}


@keyframes float5 {
	0% {
		box-shadow: 0 5px 15px 0px rgba(252, 250, 249, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 20px 25px 15px 0px rgba(252, 250, 249, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(252, 250, 249, 0.6);
		transform: translatey(0px);
	}
}

.hire-text{
    margin-top: 3rem;
    font-size: 1.6rem;
}

.hire-text a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 2rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--darkBlue);
    padding: 1rem 1.5rem;
    background: var(--lightTeal);
    z-index: 1;
    transition: all 0.3s;
}

.hire-text a:hover{
    top: -2px;
    box-shadow: 0.3rem 0.3rem 0rem 0.2rem #0b686b;
}

.hire-text a:active{
    top: 0;
    box-shadow: 0.3rem 0.3rem 0rem 0.1rem #0b686b;
}