.wh-we-do{
    width: 100%;
    padding: var(--bothGaps);
    margin: 5rem 0;
    text-align: center;
}

.title{
    text-align: center;
    font-size: 3.2rem;
    margin-top: 1.5rem;
    line-height: 4rem;
    margin-bottom: 3rem;
}

.wh-we-do .title{
    color: var(--darkBlue);
}

.highlight_word{
    color: var(--lightTeal);
}

.topGaps5{
    padding-top: 5rem;
}
.details span{
    font-weight: bold;
    color: var(--darkBlue);
}