
.hero-section{
    min-height: 100vh;
    background-image: linear-gradient(to right, #0D1633 50%, #119DA4 50%);
    padding: var(--bothGaps);
    color: var(--white);
    display: grid;
    align-items: center;
    padding-top: 10vh;
}

.hero-title{
    font-size: var(--font72);
    font-weight: 600;
    line-height: 9.9rem;
    margin-bottom: 2rem;
    letter-spacing: .2rem;
}

.underline{
    width: 16%;
    height: .3rem;
    background: #fafafa;
    margin-bottom: 5rem;
}

.hero-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero-para{
    font-size: var(--font22);
    padding-right: 5rem;
    line-height: 4.8rem;
    margin-bottom: 3rem;
}

.hero-links{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.or{
    font-size: var(--font22);
    letter-spacing: .2rem;
}

.hero-contact{
    position: relative;
    padding-bottom: .8rem;
    border: 0;
    border-radius: .5rem;
    font-size: var(--font14);
    text-transform: uppercase;
    color: var(--white);
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    z-index: 1;
    transition: 0.3s;
  }
  
  .hero-contact::after{
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    height: .2rem;
    background: #ffffff;
    z-index: -1;
    transition: 0.3s;
  }

  .hero-contact:hover::after{
    width: 100%;
  }